httpx>=0.15.0,<=0.15.5
gpxpy==1.4.2
stravalib
appdirs>=1.4.0
svgwrite>=1.1.9
colour>=0.1.5
s2sphere
arrow
geopy
polyline
sqlalchemy
tzfpy; platform_system != "Windows"
timezonefinder; platform_system == "Windows"
pyyaml
aiofiles
cloudscraper==1.2.58
git+https://github.com/alenrajsp/tcxreader.git
rich
lxml
eviltransform
stravaweblib
tenacity
numpy
tzlocal
fit-tool
haversine==2.8.0
garth
pycryptodome

certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
